*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --main-color: rgb(243, 138, 0);
}

/*Header*/

header #mobile-menu
{
    position: fixed;
    top: 0px;
    padding: 20px;
    background-color: var(--main-color);
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100%;
    width: 100%;
    list-style: none;
}
header nav
{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    align-items: baseline;
}
header #mobile-menu li
{
    padding-bottom: 20px;
}
header #mobile-menu li a
{
    color: white;
    font-size: 30px;
    font-weight: 600;
}
header #mobile-menu li a:hover
{
    color: black;
}
header li a
{
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}
nav div a
{
    color: var(--main-color);
    font-size: 35px;
    font-weight: 800;
    letter-spacing: 2px;
    text-decoration: none;
}
nav #mobile-button
{
    background:transparent;
    color: white;
    font-size: 20px;
    border: none;
    width: 30px;
    height: 30px;
}
nav #nav-menu
{
    width: 40%;
    display: none;
    list-style: none;
    justify-content: space-between;
}

/*Main Content*/

main section
{
    padding: 20px;
    margin-bottom: 20px;
    height: 500px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}
main #header-section
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    text-align: center;
    height: 600px;
    padding: 200px 0px;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./assets//hamburger.jpg);
    background-position-y: 50%;
    background-attachment: fixed;
}
main section h1
{
    color: var(--main-color);
    font-size: 30px;
}
main #header-section h1
{
    color: white;
}
main #header-section h2
{
    color: yellow;
    font-size: 20px;
}
main section .content
{
    font-size: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    height: 170px;
}
main section .img
{
    width: 100%;
    height: 140px;
    background-position: center;
}

main section #img-section-2{
    background-image: url(./assets/pizza2.jpg);
}

main section #img-section-3{
    background-image: url(./assets/burger2.jpg);
}

/*Breakpoints*/

@media(min-width:420px){
    main section .img
    {
        width: 90%;
        height: 200px;
    }
}

@media(min-width:467px){
    main #header-section h1
    {
        font-size: 38px;
    }
    main #header-section h2
    {
        font-size: 28px;
    }
}

@media(min-width:600px){
    main section .img
    {
        height: 300px;
        width: 600px;
    }
}

@media(min-width:1000px){
    main section
    {
        padding: 40px;
        flex-flow: row nowrap;
    }
    main section .content
    {
        justify-content: space-between;
        height: 100%;
        font-size: 25px;
        width: 50%;
        padding: 0px 50px;
    }
    main section .img
    {
        height: 93%;
        width: 50%;
    }
    main #header-section
    {
        height:700px;
    }
    main #header-section h1
    {
        font-size: 50px;
    }
    main #header-section h2
    {
        font-size: 40px;
    }

    /*Header Menu*/

    header nav{
        justify-content: space-around;
    }
    nav #mobile-button{
        display: none;
    }
    header nav #nav-menu{
        display: flex;
    }
}